
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
  --primary-color: #3a3dca;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #eff2fe;
  --dark-color: #100e4c;
  --gradient:linear-gradient(90deg, #9B0D6C 0%, #B71C8C 100%);

  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-sm: 14px;

  --spacing-unit: 8px;

  --border-radius: 4px;

  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}